
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ '/assets/lib/easing/easing.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/waypoints/waypoints.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/owlcarousel/owl.carousel.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/isotope/isotope.pkgd.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/lightbox/js/lightbox.min.js' | prepend: site.baseurl }}"></script>

<!-- Contact Javascript File -->
<script src="{{ '/assets/mail/jqBootstrapValidation.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/mail/contact.js' | prepend: site.baseurl }}"></script>

<!-- Template Javascript -->
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>