---
layout: default
---

{% include navbar.html %}

{{ content }}

<!-- Footer Start -->
<div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-12 mb-4">
                <a id="footer_contacto" href="index.html" class="navbar-brand m-0">
                    <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">Prim 212</span>Jijonenca</h1>
                </a>
            </div>
            <div class="col-12 mb-4">
                {% if site.twitter_url %}
                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if site.facebook_url %}
                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                {% endif %}
                {% if site.linkedin_url %}
                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                {% endif %}
                {% if site.instagram_url %}
                <a class="btn btn-outline-secondary btn-social" href="#"><i class="fab fa-instagram"></i></a>
                {% endif %}
            </div>
            <div class="col-12 mt-2 mb-4">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                        <h5 class="font-weight-bold mb-2">Visítanos</h5>
                        <p class="mb-2">Rambla de Prim 212, Barcelona, 08020.</p>
                        <p class="mb-0">+34 612121212</p>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <h5 class="font-weight-bold mb-2">Horario</h5>
                        <p class="mb-2">Martes – Domingo, 8AM – 5PM</p>
                        <p class="mb-0">Lunes: Cerrado</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="m-0">&copy; <a href="#">Domain</a>. Todos los derechos reservados. Diseñado por <a
                        href="https://htmlcodex.com">HTML Codex</a> y adaptado por <a href="https://sergiosusa.com"
                                                                                      target="_blank">Sergio Susa</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>

{% include javascript.html %}